header {
  background-color: #0583f2;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #0583f2;
}

header nav .home-link {
  position: absolute;
  left: 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #f2441d;
  border-radius: 0.5rem;
}

header nav .home-link:hover {
  background-color: #cf3512;
}

header nav .logo {
  max-height: 3rem;
}

header nav .nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

header nav .nav-links li {
  margin: 0;
}

header nav .nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #f2441d;
  border-radius: 0.5rem;
}

header nav .nav-links a:hover {
  background-color: #0056b3;
}

/* Estilo para link ativo */
header nav .nav-links a.active {
  background-color: #27ae60;
  color: white;
  font-weight: bold;
}

header nav .nav-links a.active:hover {
  background-color: #229954;
}
